
<!--
<angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
-->


<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-lessons" aria-selected="true">
      {{'LESSONS' | translate}}
    </a>
    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-units" aria-selected="false">
      {{'UNITS' | translate}}
    </a>
    <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-exercises" aria-selected="false">
      {{'EXERCISES' | translate}}
    </a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-lessons" role="tabpanel" aria-labelledby="nav-lessons-tab">
    <app-table></app-table>
  </div>
  <div class="tab-pane fade" id="nav-units" role="tabpanel" aria-labelledby="nav-units-tab">
    <app-table></app-table>

  </div>
  <div class="tab-pane fade" id="nav-exercises" role="tabpanel" aria-labelledby="nav-exercises-tab">
    <app-table></app-table>

  </div>
</div>






