<main class="d-flex flex-column">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid align-items-end align-items-lg-start">
        <a class="navbar-brand" id="dropdownMainButton" routerLink="/" routerLinkActive="active">
          <img src="https://material-icons.github.io/material-icons-png/png/black/school/baseline.png" alt="{{'ICON' | translate}}" class="d-inline-block align-top"> {{title}}
        </a>
        <div class="main-nav-menu order-last order-lg-0 text-end">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" aria-labelledby="dropdownMainButton">
              <li class="nav-item">
                <a class="nav-link" routerLink="/subject/math" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons-png/png/black/functions/baseline.png" alt="{{'MATH' | translate}}" class="d-inline-block align-top"> {{'MATH' | translate}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/subject/music" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons-png/png/black/music_note/baseline.png" alt="{{'MUSIC' | translate}}" class="d-inline-block align-top"> {{'MUSIC' | translate}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/subject/english" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons-png/png/black/language/baseline.png" alt="{{'ENGLISH' | translate}}" class="d-inline-block align-top"> {{'ENGLISH' | translate}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/subject/dev" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons-png/png/black/code/baseline.png" alt="{{'DEV' | translate}}" class="d-inline-block align-top"> {{'DEV' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-nav-menu me-2 me-lg-0 order-1">
          <div class="dropstart text-end">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLanguageButton" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://material-icons.github.io/material-icons-png/png/white/translate/baseline.png" alt="{{'LANGUAGE' | translate}}">
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownLanguageButton">
              <li *ngIf="!isLang('en')">
                <a class="dropdown-item" (click)="changeLang('en')">{{'ENGLISH' | translate}}</a>
              </li>
              <li *ngIf="!isLang('es')">
                <a class="dropdown-item" (click)="changeLang('es')">{{'SPANISH' | translate}}</a>
              </li>
              <li *ngIf="!isLang('eu')">
                <a class="dropdown-item" (click)="changeLang('eu')">{{'BASQUE' | translate}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-nav-menu me-2 me-lg-0 order-2">
          <div class="dropstart text-end">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownUserButton" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://material-icons.github.io/material-icons-png/png/white/face/baseline.png" alt="{{'SIGN' | translate}}">
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownUserButton">
              <li *ngIf="authService.isLogged()">
                <a class="dropdown-item" (click)="logout()" routerLinkActive="active">{{'LOGOUT' | translate}}</a>
              </li>
              <li *ngIf="!authService.isLogged()">
                <a class="dropdown-item" routerLink="/auth/login" routerLinkActive="active">{{'LOGIN' | translate}}</a>
              </li>
              <li *ngIf="!authService.isLogged()">
                <hr class="dropdown-divider">
              </li>
              <li *ngIf="!authService.isLogged()">
                <a class="dropdown-item" routerLink="/auth/register" routerLinkActive="active">{{'REGISTER' | translate}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="d-flex flex-fill justify-content-center align-items-center">
    <router-outlet></router-outlet>
  </section>
  <footer class="border border-secondary text-center">© {{title}}</footer>
</main>
