<main class="d-flex flex-column">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-1">
      <div class="container-fluid p-1 px-sm-2 px-lg-3 px-xxl-4">
        <a class="navbar-brand m-0" id="dropdownMainButton" routerLink="/" routerLinkActive="active">
          <img src="https://material-icons.github.io/material-icons/svg/school/baseline.svg" alt="{{'ICON' | translate}}" class="d-inline-block align-top"> {{title}}
        </a>
        <div class="main-nav-menu order-last order-lg-0 text-end">
          <button class="navbar-toggler p-1 px-sm-2 px-lg-3 px-xxl-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" aria-labelledby="dropdownMainButton">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons/svg/settings/baseline.svg" alt="{{'ADMIN' | translate}}" class="d-inline-block align-top"> {{'ADMIN' | translate}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/subject/math" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons/svg/functions/baseline.svg" alt="{{'MATH' | translate}}" class="d-inline-block align-top"> {{'MATH' | translate}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/subject/music" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons/svg/music_note/baseline.svg" alt="{{'MUSIC' | translate}}" class="d-inline-block align-top"> {{'MUSIC' | translate}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/subject/english" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons/svg/language/baseline.svg" alt="{{'ENGLISH' | translate}}" class="d-inline-block align-top"> {{'ENGLISH' | translate}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/subject/dev" routerLinkActive="active">
                  <img src="https://material-icons.github.io/material-icons/svg/code/baseline.svg" alt="{{'DEV' | translate}}" class="d-inline-block align-top"> {{'DEV' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-nav-menu order-1">
          <div class="dropend">
            <button class="border btn btn-light dropdown-toggle p-1 px-sm-2 px-lg-3 px-xxl-4" type="button" id="dropdownLanguageButton" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://material-icons.github.io/material-icons/svg/translate/baseline.svg" alt="{{'LANGUAGE' | translate}}">
            </button>
            <ul class="dropdown-menu text-start" aria-labelledby="dropdownLanguageButton">
              <li *ngIf="!isLang('en')">
                <a class="dropdown-item" (click)="changeLang('en')">{{'ENGLISH' | translate}}</a>
              </li>
              <li *ngIf="!isLang('es')">
                <a class="dropdown-item" (click)="changeLang('es')">{{'SPANISH' | translate}}</a>
              </li>
              <li *ngIf="!isLang('eu')">
                <a class="dropdown-item" (click)="changeLang('eu')">{{'BASQUE' | translate}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-nav-menu order-2">
          <div class="dropstart">
            <button class="border btn btn-light dropdown-toggle p-1 px-sm-2 px-lg-3 px-xxl-4" type="button" id="dropdownUserButton" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://material-icons.github.io/material-icons/svg/face/baseline.svg" alt="{{'SIGN' | translate}}">
            </button>
            <ul class="dropdown-menu text-end" aria-labelledby="dropdownUserButton">
              <li *ngIf="authService.isLogged()">
                <a class="dropdown-item" (click)="logout()" routerLinkActive="active">{{'LOGOUT' | translate}}</a>
              </li>
              <li *ngIf="!authService.isLogged()">
                <a class="dropdown-item" routerLink="/auth/login" routerLinkActive="active">{{'LOGIN' | translate}}</a>
              </li>
              <li *ngIf="!authService.isLogged()">
                <hr class="dropdown-divider">
              </li>
              <li *ngIf="!authService.isLogged()">
                <a class="dropdown-item" routerLink="/auth/register" routerLinkActive="active">{{'REGISTER' | translate}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="d-flex flex-fill justify-content-center align-items-center">
    <router-outlet></router-outlet>
  </section>
  <footer class="bg-light border-top text-center">
    <img src="https://material-icons.github.io/material-icons/svg/copyright/baseline.svg" alt="Copyright"> {{title}}
  </footer>
</main>
