<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      [class.active]="currentTab === 'subjects'"
      class="nav-link"
      id="subjects"
      (click)="setCurrentNav($event)"
      data-bs-toggle="tab"
      href="./#nav-subjects"
      role="tab"
      aria-controls="nav-subjects"
      aria-selected="true"
    >
      {{ 'SUBJECTS' | translate }}
    </a>
    <a
      [class.active]="currentTab === 'units'"
      class="nav-link"
      id="units"
      (click)="setCurrentNav($event)"
      data-bs-toggle="tab"
      href="./#nav-units"
      role="tab"
      aria-controls="nav-units"
      aria-selected="false"
    >
      {{ 'UNITS' | translate }}
    </a>
    <a
      [class.active]="currentTab === 'exercises'"
      class="nav-link"
      id="exercises"
      (click)="setCurrentNav($event)"
      data-bs-toggle="tab"
      href="./#nav-exercises"
      role="tab"
      aria-controls="nav-exercises"
      aria-selected="false"
    >
      {{ 'EXERCISES' | translate }}
    </a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-subjects" role="tabpanel">
    <app-table [currentType]="currentTab" [data]="subjects$ | async"></app-table>
  </div>
  <div class="tab-pane fade" id="nav-units" role="tabpanel">
    <app-table [currentType]="currentTab" [data]="units$ | async"></app-table>
  </div>
  <div class="tab-pane fade" id="nav-exercises" role="tabpanel">
    <app-table [currentType]="currentTab" [data]="exercises$ | async"></app-table>
  </div>
</div>
