<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      class="nav-link active"
      id="subjects"
      (click)="setCurrentNav($event)"
      data-bs-toggle="tab"
      href="#nav-subject"
      role="tab"
      aria-controls="nav-subject"
      aria-selected="true"
    >
      {{ 'SUBJECTS' | translate }}
    </a>
    <a
      class="nav-link"
      id="units"
      (click)="setCurrentNav($event)"
      data-bs-toggle="tab"
      href="#nav-units"
      role="tab"
      aria-controls="nav-units"
      aria-selected="false"
    >
      {{ 'UNITS' | translate }}
    </a>
    <a
      class="nav-link"
      id="exercises"
      (click)="setCurrentNav($event)"
      data-bs-toggle="tab"
      href="#nav-exercises"
      role="tab"
      aria-controls="nav-exercises"
      aria-selected="false"
    >
      {{ 'EXERCISES' | translate }}
    </a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-subject" role="tabpanel" aria-labelledby="nav-subject-tab">
    <app-table [currentType]="currentTab" [data]="subjects$ | async"></app-table>
  </div>
  <div class="tab-pane fade" id="nav-units" role="tabpanel" aria-labelledby="nav-units-tab">
    <app-table [currentType]="currentTab" [data]="units$ | async"></app-table>
  </div>
  <div class="tab-pane fade" id="nav-exercises" role="tabpanel" aria-labelledby="nav-exercises-tab">
    <app-table [currentType]="currentTab" [data]="exercises$ | async"></app-table>
  </div>
</div>
