<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      (click)="setCurrentNav($event)"
      class="nav-link active"
      id="subjects"
      data-bs-toggle="tab"
      data-bs-target="#nav-subjects"
      type="button"
      role="tab"
      aria-controls="nav-subjects"
      aria-selected="true"
    >
      {{ 'SUBJECTS' | translate }}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      (click)="setCurrentNav($event)"
      class="nav-link"
      id="units"
      data-bs-toggle="tab"
      data-bs-target="#nav-units"
      type="button"
      role="tab"
      aria-controls="nav-units"
      aria-selected="false"
    >
      {{ 'UNITS' | translate }}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      (click)="setCurrentNav($event)"
      class="nav-link"
      id="exercises"
      data-bs-toggle="tab"
      data-bs-target="#nav-exercises"
      type="button"
      role="tab"
      aria-controls="nav-exercises"
      aria-selected="false"
    >
      {{ 'EXERCISES' | translate }}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button [routerLink]="['/admin/new/', currentTab]" class="nav-link" type="button" role="button" aria-selected="false">
      <img
        src="https://material-icons.github.io/material-icons/svg/add/baseline.svg"
        alt="{{ 'ADD' | translate }}"
        title="{{ 'ADD' | translate }}"
        class="d-inline-block align-top"
      />
    </button>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="nav-subjects" role="tabpanel" aria-labelledby="subjects">
    <app-table [currentType]="currentTab" [data]="subjects$ | async"></app-table>
  </div>
  <div class="tab-pane fade" id="nav-units" role="tabpanel" aria-labelledby="units">
    <app-table [currentType]="currentTab" [data]="units$ | async"></app-table>
  </div>
  <div class="tab-pane fade" id="nav-exercises" role="tabpanel" aria-labelledby="exercises">
    <app-table [currentType]="currentTab" [data]="exercises$ | async"></app-table>
  </div>
</div>
