<form class="mb-3" [formGroup]="form">
  <div *ngFor="let field of fields; let i = index" class="mt-2">
    <label [for]="field" class="form-label" role="button">{{ field | translate }}</label>
    <input *ngIf="field !== 'text'" type="text" class="form-control" [id]="field" [formControl]="formControlsArray[i]" />
    <!--todo question improvement for show false or true / text-->
    <st-editor *ngIf="item === 'units' && field === 'text'" [formControl]="formControlsArray[i]" [config]="config"></st-editor>
  </div>
  <div class="form-actions mt-3 text-center">
    <button type="submit" class="btn btn-outline-primary me-3" (click)="submit()">{{ 'SAVE' | translate }}</button>
    <button (click)="backClicked()" class="btn btn-outline">{{ 'GO_BACK' | translate }}</button>
  </div>
</form>
