<!doctype html>
<html lang="" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <!--<base href="/" />-->
    <link href="https://material-icons.github.io/material-icons/svg/precision_manufacturing/baseline.svg" rel="icon" sizes="any" type="image/svg+xml" />
    <link rel="manifest" href="manifest.webmanifest" />
    <meta name="theme-color" content="#1976d2" />
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss" />
    <link rel="stylesheet" href="../styles/main.scss" />
  </head>
  <body>
    <app-root></app-root>
    <noscript>Please enable JavaScript to continue using this application.</noscript>
    <script type="module" src="../scripts/main.js"></script>
  </body>
</html>
