<p>{{exercise.question}}</p>

<div *ngIf="type === 'text'" class="mb-3 input-group has-validation">
  <!--<label class="form-label">{{'resp'}}</label>-->
  <input type="text" class="form-control" [name]="exercise.id" [id]="exercise.id" (keyup)="checkResponse($event)"  [ngClass]="{ 'is-valid': resp===true, 'is-invalid': resp===false }">
</div>

<div *ngIf="type === 'number'">

  <div class="form-check input-group has-validation">
    <input class="form-check-input" type="radio" [name]="exercise.id" [id]="exercise.id"  value="1" (change)="checkResponse($event)" [ngClass]="{ 'is-valid': resp===true, 'is-invalid': resp===false }">
    <label class="form-check-label">
      {{ 'TRUE' | translate}}
    </label>
  </div>

  <div class="form-check input-group has-validation">
    <input class="form-check-input" type="radio" [name]="exercise.id" [id]="exercise.id"  value="0" (change)="checkResponse($event)" [ngClass]="{ 'is-valid': resp===true, 'is-invalid': resp===false }">
    <label class="form-check-label">
      {{ 'FALSE' | translate}}
    </label>
  </div>

</div>




<!--
<div *ngIf="response" class="invalid-feedback" [ngClass]="{response.correct ? 'valid-feedback' : 'invalid-feedbacko'}">
  Please choose a username.
</div>
<div class="invalid-feedback">
  Please choose a username.
</div>

<p  [style.color]="response.correct ? 'green' : 'red'" innerHTML="{{response.answer}}"></p>
-->



