
<button class="btn btn-primary" [routerLink]="['/admin/new/', currentType]">
  <img src="https://material-icons.github.io/material-icons/svg/add/baseline.svg" alt="{{'ADD' | translate}}" class="d-inline-block align-top"> {{'ADD' | translate}}
</button>

<div *ngIf="data">

  <table class="table table-bordered" *ngIf="data['hydra:member'] && data['hydra:totalItems']>0">
    <thead>
    <tr>
      <th *ngFor="let head of getArrayFieldsFromJSON(data['hydra:member'][0])">
        {{head}}
      </th>
      <th scope="col">{{'ACTIONS' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data['hydra:member']">
      <td *ngFor="let column of getArrayDataFromJSON(row)">
        {{column}}
      </td>

      <td>
        <button class="btn btn-primary" [routerLink]="['/admin/new/', currentType, row.id]">
          <img src="https://material-icons.github.io/material-icons/svg/edit/baseline.svg" alt="{{'EDIT' | translate}}" class="d-inline-block align-top">
        </button>
        <button class="btn btn-danger" (click)="deleteByID(row.id)">
          <img src="https://material-icons.github.io/material-icons/svg/delete/baseline.svg" alt="{{'DELETE' | translate}}" class="d-inline-block align-top">
        </button>
      </td>

    </tr>
    </tbody>
  </table>


  <p>
    {{'TOTAL_ITEMS' | translate}}
  </p>
  {{data["hydra:totalItems"]}}

  <!--todo: paginator component-->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

</div>


