/* You can add global styles to this file, and also import other style files */

html, body, main
  height: 100%

body
  min-width: 375px

.dropdown-menu
  min-width: 1rem

//.main-nav-menu.order-last
  min-width: 135px

a
  cursor: pointer
